<div class="main">
    <h2>HOW TO ORDER</h2>
    <div class="order-images">
        <div>
            <img src="./../../../assets/img/noodle.png" alt="">
            <span>Pick your noodle</span>
        </div>
        <div>
            <img src="./../../../assets/img/broth.png" alt="">
            <span>Pick your broth</span>
        </div>
        <div>
            <img src="./../../../assets/img/topping.png" alt="">
            <span>Add your toppings</span>
        </div>   
    </div>
</div>
