<div class="containerourmenu">
    <div class="containerheadourmenu">
        <h2>OUR MENU</h2>
    </div>
    <div class="containerramen">
        <div class="tonkotsu">
            <img class="ramenimg" src="./assets/img/tonkotsu.png">
            <div class="ramentext">
                <h3>Tonkotsu Ramen</h3>
                <table class="ingredients">
                    <tbody>
                        <tr>
                            <td>CHICKEN</td>
                            <td style="text-align: right;">11.95€</td>
                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td style="text-align: right;">12.95€</td>
                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td style="text-align: right;">13.95€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="miso">
            <img class="ramenimg" src="./assets/img/miso.png">
            <div class="ramentext">
                <h3>Spicy Miso Ramen</h3>
                <table class="ingredients">
                    <tbody>
                        <tr>
                            <td>CHICKEN</td>
                            <td style="text-align: right;">11.95€</td>
                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td style="text-align: right;">12.95€</td>
                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td style="text-align: right;">13.95€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="shio">
            <img class="ramenimg" src="./assets/img/shio.png">
            <div class="ramentext">
                <h3>Shio Ramen</h3>
                <table class="ingredients">
                    <tbody>
                        <tr>
                            <td>CHICKEN</td>
                            <td style="text-align: right;">11.95€</td>
                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td style="text-align: right;">12.95€</td>
                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td style="text-align: right;">13.95€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>