<div class="containerfooter">
    <div>
        <img style="height: 44px;" src="./../../../assets/img/sakurafooter.png">
    </div>
    <div class="imprint">
        <a href="imprint">
            Imprint
        </a>
    </div>
    <div class="media" id="about">
        <a href="#">
        <img class="mediaimg" src="./../../../assets/img/tripadvisor.png">
        </a>
    <a href="#">
        <img class="mediaimg" src="./../../../assets/img/facebook.png">
    </a>
    <a href="#">
        <img class="mediaimg" src="./../../../assets/img/instagram.png">
    </a>
    </div>
</div>